article, .content {
    border-radius: 5px !important;
}

.tags {
    border-radius: 0 0 5px 5px;
}

img {
    width: 100%;
    border-radius: 5px;
}

.dflex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.dflex img {
    width: 200px;
    margin: 6px;
}

img.brand {
    width: 200px;
    object-fit: cover;
    object-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
